<div class="header_top">
    <div class="row align-items-center">
         <div class="col-lg-6 col-md-6">
            <div class="switcher">
                 <ul>
                     <li class="languages"><a href="#"><img src="assets\img\logo\fontlogo.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>
                         <ul class="dropdown_languages">
                             <li><a href="#"><img src="assets\img\logo\fontlogo.jpg" alt=""> English</a></li>
                             <li><a href="#"><img src="assets\img\logo\fontlogo2.jpg" alt=""> French </a></li>
                         </ul>   
                     </li> 

                     <li class="currency"><a href="#"> Currency : $ <i class="fa fa-angle-down"></i></a>
                         <ul class="dropdown_currency">
                             <li><a href="#"> Dollar (USD)</a></li>
                             <li><a href="#"> Euro (EUR)  </a></li>
                         </ul> 
                     </li> 
                 </ul>
             </div>
         </div>
         <div class="col-lg-6 col-md-6">
             <div class="header_links">
                 <% if (logIn && hoten ) { %>                                                  
                <ul>
                    <li>
                        <span style="font-size: 18px; display: inline-block; position: relative; top: 5px; color: blue;">Xin Chào: </span> &ensp;
                        <a style="
                            font-size: 18px; 
                            color: rgb(15, 121, 47); 
                            font-weight: 100; 
                            display: inline; 
                            position: relative; 
                            top: 5px;                            
                            " href="/lsu-mua-hang"> <%= hoten %></a>  &ensp;
                    </li>
                    <li>
                        <a style="font-size: 18px; font-weight: bold; color: rgb(0, 0, 0); position: relative; top: 2px;" href="/dang-xuat-tkkh">
                            <svg width="15" style="top: 2px; position: relative;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
                            Đăng Xuất</a>  
                    </li>    
                    <!-- <li><a style="font-size: 18px;" href="#" title="My account">My account</a></li>           -->
                </ul>
                <% } else { %>                    
                <ul>
                    <li><a style="font-size: 18px;" href="/contact" title="Contact">
                        <svg width="18" style="position: relative;top:3px; right: 2px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M96 0C60.7 0 32 28.7 32 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H96zM208 288h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H144c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zM512 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V80zM496 192c-8.8 0-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm16 144c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V336z"/></svg>
                         Contact</a></li>                    
                    <li>
                        <a style="font-size: 18px;" href="/login-tk-kh" title="Login"> 
                            <svg width="18" style="position: relative;top:3px; right: 2px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
                             Login</a>
                    </li>
                </ul>
                <% } %>   
             </div>   
         </div>
    </div> 
 </div> 