<div class="header_bottom">
    <div class="row">
            <div class="col-12">
                <div class="main_menu_inner">
                    <div class="main_menu d-none d-lg-block">
                        <nav>
                            <ul>
                                <li class=""><a href="/">Home</a></li>
                                <li class="<%= active === 'shoplist' ? 'active' : '' %>"><a href="#">shop</a>
                                    <div class="mega_menu jewelry">
                                        <div class="mega_items jewelry">
                                            <ul>
                                                <li><a href="/shop-list-ht1">Nước Hoa Đẳng Cấp</a></li>
                                                <li><a href="#">Shop GAME</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>  
                                </li>
                                <!-- <li class="<%= active === 'phanloai' ? 'active' : '' %>"><a href="#">Product Category</a>
                                    <div class="mega_menu">
                                        <div class="mega_top fix">
                                            <div class="mega_items">
                                                <h3><a href="/shop-list-ht1">Nước Hoa</a></h3>
                                                <ul>
                                                    <li><a href="/shop-list-phan-loai-nuoc-hoa-nam">Dành Cho Nam</a></li>
                                                    <li><a href="/shop-list-phan-loai-nuoc-hoa-nu">Dành Cho Nữ</a></li>                                                   
                                                </ul>
                                            </div>
                                            <div class="mega_items"><div> &nbsp;</div>
                                                
                                            </div>
                                            <div class="mega_items">
                                                <h3><a href="#">GAME</a></h3>
                                                <ul>
                                                    <li><a href="#">Account Nam</a></li>
                                                    <li><a href="#">Account Nữ</a></li>                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mega_bottom fix">
                                            <div class="mega_thumb">
                                                <a href="#"><img src="assets\img\slider\upto40.jpg" alt=""></a>
                                            </div>
                                            <div class="mega_thumb">
                                                <a href="#"><img src="assets\img\slider\avatar1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                
                               
                                <li><a href="/contact">contact us</a></li>

                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu d-lg-none">
                        <nav>
                            <ul>
                                <li><a href="/">Trang Chủ</a></li>
                                <li><a href="#">shop</a>
                                    <div>
                                        <div>
                                            <ul>
                                                <li><a href="/shop-list-ht1">Nước Hoa Đẳng Cấp</a></li>
                                                <li><a href="#">Shop GAME</a></li>                                                
                                            </ul>
                                        </div>
                                    </div>  
                                </li>
                                <!-- <li><a href="#">Product Category</a>
                                    <div >
                                        <div>
                                            <div>
                                                <h3><a href="/shop-list-ht1">Nước Hoa</a></h3>
                                                <ul>
                                                    <li><a href="/shop-list-phan-loai-nuoc-hoa-nam">Dành Cho Nam</a></li>
                                                    <li><a href="/shop-list-phan-loai-nuoc-hoa-nu">Dành Cho Nữ</a></li>                                                   
                                                </ul>
                                            </div>
                                           
                                            
                                        </div>
                                        <div>
                                            <div >
                                                <a href="#"><img src="assets\img\slider\upto40.jpg" alt=""></a>
                                            </div>
                                            <div >
                                                <a href="#"><img src="assets\img\slider\avatar1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                
                               
                                <li><a href="/contact">contact us</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</div>