<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets\img\logo-KTT1.ico">

    <title>Tạo tài khoản admin</title>

    <!-- Custom fonts for this template-->
    <link href="AdminQL/HomeAdminQL/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="AdminQL/HomeAdminQL/css/sb-admin-2.min.css" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Ví dụ với thư viện sweetalert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .pagination-container {
          display: flex;
          justify-content: center;
          margin-top: 50px;
        }
      
        .pagination {
          list-style: none;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
      </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../partials/danhMuc.ejs") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form action="/page-search-tkadmin" method="get" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" id="search-ben-admin">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm account admin đi sếp..." name="search_ben_admin"
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <%- include("../partials/topAccount.ejs") %>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tạo tài khoản đi cậu</h1>                        
                    </div>                

                    <!-- Content Row -->
                    <div class="row">
                        <div class="container" style="display: flex; justify-content: center;">
                            <form >
                                <div class="mb-3">                                  
                                    <label for="TenDangNhap" class="form-label">Tài khoản đăng nhập <span style="color: red;font-size: 16px;">*</span></label>
                                    <input style="width: 400px;" type="text" class="form-control" name="TenDangNhap" id="TenDangNhap" aria-describedby="emailHelp" required>
                                    <div id="username-error" class="form-text text-danger"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="HoTen" class="form-label">Họ và tên <span style="color: red;font-size: 16px;">*</span></label>
                                    <input style="width: 400px;" type="text" class="form-control" name="HoTen" id="HoTen" aria-describedby="emailHelp" required>
                                    <div id="name-error" class="form-text text-danger"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="MatKhau" class="form-label">Mật khẩu <span style="color: red;font-size: 16px;">*</span></label>
                                    <input style="width: 400px;" type="password" class="form-control" name="MatKhau" id="MatKhau" required>  
                                    <br>                                  
                                    <a id="togglePassword" style="cursor: pointer;"> <i class="fas fa-eye-slash" style="color: blue; margin-left: 20px; cursor: pointer;"></i>&nbsp;Hiển thị mật khẩu</a>
                                    <div id="password-error" class="form-text text-danger"></div>
                                </div>
                                
                                <a                                      
                                    onclick="history.go(-1);"
                                    class="btn btn-dark" >Trở Về </a>
                                
                                <a                                                
                                    class="btn btn-primary" 
                                    onclick="createAdmin()"
                                >Tạo Mới</a>   
                            </form>    
                        </div>
                                         
                    </div>

                </div>
                <!-- /.container-fluid -->
                
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>WebShop &copy; Nguyễn Ngọc Chiến</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn đăng xuất không?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Ấn vào "Logout" để xác nhận đăng xuất.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login-admin">Logout</a>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Bootstrap core JavaScript-->
    <script src="AdminQL/HomeAdminQL/vendor/jquery/jquery.min.js"></script>
    <script src="AdminQL/HomeAdminQL/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="AdminQL/HomeAdminQL/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="AdminQL/HomeAdminQL/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="AdminQL/HomeAdminQL/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="AdminQL/HomeAdminQL/js/demo/chart-area-demo.js"></script>
    <script src="AdminQL/HomeAdminQL/js/demo/chart-pie-demo.js"></script>

    <script src="AdminQL/HomeAdminQL/js/togglePassword.js"></script>  
    <script src="AdminQL/HomeAdminQL/js/xuLyNutCreateTK.js"></script>  

    <!-- xử lý mắt hiển thị/ẩn mật khẩu -->
    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            var passwordField = document.getElementById('MatKhau');
            var passwordIcon = document.getElementById('togglePassword').querySelector('i');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                passwordIcon.classList.remove('fa-eye-slash');
                passwordIcon.classList.add('fa-eye');
                
            } else {
                passwordField.type = 'password';
                passwordIcon.classList.remove('fa-eye');
                passwordIcon.classList.add('fa-eye-slash');
            }
        });
    </script>
    
</body>

</html>